<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="caster_wheel_link">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <material>Gazebo/Black</material> 
    </gazebo>



    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
            <left_joint>base_left_wheel_joint</left_joint>
            <right_joint>base_right_wheel_joint</right_joint>
            <wheel_separation>0.45</wheel_separation>
            <wheel_radius>0.1</wheel_radius>
            
            <odom_frame>odom</odom_frame>
            <child_frame_id>base_footprint</child_frame_id>
            
            <frame_id>odom</frame_id>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">  
            <joint_name>base_right_wheel_joint</joint_name>
            <joint_name>base_left_wheel_joint</joint_name>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

    <gazebo reference="base_scan">
        <sensor name="lidar" type="gpu_lidar">
            <always_on>1</always_on>
            <update_rate>10</update_rate>
            <visualize>true</visualize>
            <topic>/scan</topic>
            <!-- <gz_frame_id>base_scan</gz_frame_id> -->
            <gz_frame_id>base_scan</gz_frame_id> 
            <lidar>
            
                <scan>
                    <horizontal>
                        <samples>320</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.12</min>
                    <max>10.0</max>
                </range>
            </lidar>
        </sensor>
    </gazebo>

</robot>